[Unit]
Description=Meresco BRIGMH API Server

[Service]
User=meresco
ExecStart=<path to:> start-api --port=<portnumber> --gatewayPort=<portnumber>  --stateDir=<path to api statedir>
Restart=on-failure

[Install]
WantedBy=multi-user.target
